@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

body {
    font-family: "Sixtyfour Convergence", sans-serif;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}